n8n/Property Document Processor v1.2-list.json
{
  "name": "Property Document Processor v1.2.1 (List Support Fixed)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "value": "01TIECOOFJGGETSABB65EKHF45BMOHSRCC",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "trigger-onedrive",
      "name": "OneDrive Trigger",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "76edZRPxqnysTDPL",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"AZURE_DOC_INTEL_KEY\": \"YOUR_AZURE_DOC_INTEL_KEY\",\n  \"AZURE_DOC_INTEL_ENDPOINT\": \"https://your-doc-intel.cognitiveservices.azure.com\",\n  \"AZURE_BLOB_ACCOUNT\": \"YOUR_BLOB_ACCOUNT\",\n  \"AZURE_BLOB_CONTAINER\": \"YOUR_BLOB_CONTAINER\",\n  \"AZURE_BLOB_READ_SAS\": \"YOUR_BLOB_SAS_TOKEN\",\n  \"AZURE_OPENAI_ENDPOINT\": \"https://your-openai.api.cognitive.microsoft.com\",\n  \"AZURE_OPENAI_KEY\": \"YOUR_AZURE_OPENAI_KEY\",\n  \"AZURE_SEARCH_ENDPOINT\": \"https://your-search.search.windows.net\",\n  \"AZURE_SEARCH_LISTING_INDEX\": \"property-listing-vectors\",\n  \"AZURE_SEARCH_NEWS_INDEX\": \"property-news-vectors\",\n  \"AZURE_SEARCH_API_KEY\": \"YOUR_AZURE_SEARCH_KEY\",\n  \"PDF_CO_API_KEY\": \"YOUR_PDF_CO_API_KEY\",\n  \"ODOO_URL\": \"https://your-odoo-instance.com\",\n  \"ODOO_DB\": \"odoo\",\n  \"ODOO_USERNAME\": \"admin\",\n  \"ODOO_API_KEY\": \"YOUR_ODOO_API_KEY\",\n  \"OPENROUTER_API_KEY\": \"YOUR_OPENROUTER_KEY\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "config-api-keys",
      "name": "Config (API Keys)"
    },
    {
      "parameters": {
        "jsCode": "// Filter supported document files (PDF + Images) and merge with config\nconst config = $('Config (API Keys)').item.json;\nconst triggerItems = $('OneDrive Trigger').all();\nconst supportedExtensions = ['.pdf', '.jpg', '.jpeg', '.png', '.bmp', '.tiff'];\n\nconst items = triggerItems.filter(item => {\n  const name = (item.json.name || '').toLowerCase();\n  return supportedExtensions.some(ext => name.endsWith(ext));\n});\n\nif (items.length === 0) {\n  throw new Error('No supported files found (PDF, JPG, PNG, BMP, TIFF)');\n}\n\nreturn items.map(item => ({ \n  json: { \n    ...item.json, \n    _config: config,\n    _fileType: (item.json.name || '').toLowerCase().endsWith('.pdf') ? 'pdf' : 'image'\n  } \n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "filter-documents",
      "name": "Filter Documents (PDF + Images)"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "download-file",
      "name": "Download File",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "76edZRPxqnysTDPL",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "batch-process",
      "name": "Process One by One"
    },
    {
      "parameters": {
        "jsCode": "// Prepare blob path and upload metadata\nconst config = $('Config (API Keys)').item.json;\nconst originalFileName = $input.item.binary?.data?.fileName || $json.name || 'document';\nconst fileType = $('Filter Documents (PDF + Images)').item.json._fileType;\nconst now = new Date();\n\nconst ext = originalFileName.toLowerCase().split('.').pop();\nconst timestamp = now.getTime().toString(36);\nconst safeFileName = originalFileName.replace(/[^a-zA-Z0-9._-]/g, '_').slice(0, 100) || `doc_${timestamp}.${ext}`;\nconst fileName = originalFileName;\n\nconst blobFolder = `${now.getFullYear()}/${String(now.getMonth() + 1).padStart(2, '0')}`;\nconst blobPath = `${blobFolder}/${safeFileName}`;\nconst encodedBlobPath = `${blobFolder}/${encodeURIComponent(safeFileName)}`;\n\nconst safeBinary = JSON.parse(JSON.stringify($input.item.binary || {}));\nif (safeBinary.data && safeBinary.data.fileName) {\n  safeBinary.data.fileName = safeFileName;\n}\n\nconst contentTypes = {\n  'pdf': 'application/pdf',\n  'jpg': 'image/jpeg',\n  'jpeg': 'image/jpeg',\n  'png': 'image/png',\n  'bmp': 'image/bmp',\n  'tiff': 'image/tiff'\n};\nconst contentType = contentTypes[ext] || 'application/octet-stream';\n\nreturn { \n  json: { \n    fileName, \n    blobFolder, \n    blobPath, \n    encodedBlobPath, \n    fileType,\n    contentType,\n    _config: config \n  }, \n  binary: safeBinary \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "id": "prepare-upload",
      "name": "Prepare Upload"
    },
    {
      "parameters": {
        "resource": "blob",
        "operation": "create",
        "container": {
          "__rl": true,
          "value": "property-pdf",
          "mode": "list"
        },
        "blobCreate": "={{ $json.encodedBlobPath }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ],
      "id": "upload-blob",
      "name": "Upload to Azure Blob",
      "credentials": {
        "azureStorageSharedKeyApi": {
          "id": "WZ9E43yxwUxwumMO",
          "name": "Azure Storage Shared Key account blobhk04472"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Upload').item.json._config.AZURE_DOC_INTEL_ENDPOINT }}/formrecognizer/documentModels/prebuilt-layout:analyze?api-version=2023-07-31",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Ocp-Apim-Subscription-Key",
              "value": "={{ $('Prepare Upload').item.json._config.AZURE_DOC_INTEL_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { urlSource: `https://${$('Prepare Upload').item.json._config.AZURE_BLOB_ACCOUNT}.blob.core.windows.net/${$('Prepare Upload').item.json._config.AZURE_BLOB_CONTAINER}/${$('Prepare Upload').item.json.encodedBlobPath}?${$('Prepare Upload').item.json._config.AZURE_BLOB_READ_SAS}` } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1540,
        0
      ],
      "id": "submit-ocr",
      "name": "Submit OCR"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Prepare Upload').item.json._config;\nconst meta = $('Prepare Upload').item.json;\nconst operationUrl = $('Submit OCR').item.json.headers['operation-location'];\nconst sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));\n\n// n8n Cloud has 60s limit - use 15 attempts x 3s = 45s max\nfor (let attempt = 0; attempt < 15; attempt++) {\n  await sleep(3000);\n  const result = await this.helpers.httpRequest({ \n    method: 'GET', \n    url: operationUrl, \n    headers: { 'Ocp-Apim-Subscription-Key': config.AZURE_DOC_INTEL_KEY }, \n    json: true \n  });\n  if (result.status === 'succeeded') {\n    return { json: { ...result, _config: config, _meta: meta } };\n  }\n  if (result.status === 'failed') {\n    throw new Error('OCR failed: ' + JSON.stringify(result.error));\n  }\n}\nthrow new Error('OCR timeout - document may be too large for Cloud processing');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "id": "poll-ocr",
      "name": "Poll OCR Result"
    },
    {
      "parameters": {
        "jsCode": "const config = $json._config;\nconst meta = $json._meta;\nconst ocr = $json.analyzeResult || {};\nconst text = ocr.content || '';\nconst pages = ocr.pages || [];\n\nconst pageSpans = [];\nlet offset = 0;\nfor (let i = 0; i < pages.length; i++) {\n  const len = pages[i].spans?.reduce((s, sp) => s + (sp.length || 0), 0) || 0;\n  pageSpans.push({ pageNumber: i + 1, start: offset, end: offset + len });\n  offset += len;\n}\n\nconst tables = (ocr.tables || []).map((t, idx) => {\n  const rows = {};\n  for (const cell of (t.cells || [])) { \n    if (!rows[cell.rowIndex]) rows[cell.rowIndex] = []; \n    rows[cell.rowIndex][cell.columnIndex] = cell.content || ''; \n  }\n  const content = Object.keys(rows).sort((a,b) => a-b).map(r => rows[r].filter(c => c !== undefined).join(' | ')).join('\\n');\n  return { content, pageNumber: t.boundingRegions?.[0]?.pageNumber || 1 };\n});\n\nconst figures = [];\nfor (let i = 0; i < (ocr.figures || []).length; i++) {\n  const fig = ocr.figures[i];\n  const caption = fig.caption?.content || '';\n  const pageNumber = fig.boundingRegions?.[0]?.pageNumber || 1;\n  if (caption) figures.push({ caption, pageNumber });\n}\n\nreturn { \n  json: { \n    text, \n    pageSpans, \n    tables, \n    figures, \n    fileName: meta.fileName, \n    blobPath: meta.blobPath, \n    encodedBlobPath: meta.encodedBlobPath,\n    fileType: meta.fileType,\n    stats: { \n      textLength: text.length, \n      pageCount: pages.length, \n      tableCount: tables.length, \n      figureCount: figures.length \n    }, \n    _config: config \n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ],
      "id": "extract-structure",
      "name": "Extract Text & Structure"
    },
    {
      "parameters": {
        "jsCode": "// AI Classification: Determine if document is LISTING, LISTING_LIST, NEWS, or CONTACT\nconst data = $json;\nconst config = data._config;\nconst tableContent = data.tables.map((t, i) => `[Table ${i+1}]:\\n${t.content}`).join('\\n\\n');\n\nconst textStart = data.text.slice(0, 4000);\nconst textEnd = data.text.slice(-2000);\nconst fullContent = (textStart + '\\n...\\n' + textEnd + '\\n\\n' + tableContent).slice(0, 8000);\n\nconst classifyPrompt = `Analyze this Hong Kong property document and classify it.\n\nDocument: ${data.fileName}\nFile Type: ${data.fileType}\nPage Count: ${data.stats.pageCount}\nText Length: ${data.stats.textLength} characters\nTable Count: ${data.stats.tableCount}\n\nContent (start and end of document):\n${fullContent}\n\n---\nClassify as ONE of:\n\n1. LISTING_LIST - Multi-property listing document (IMPORTANT - check this first):\n   - Contains MULTIPLE numbered property entries (1), 2), 3)... or 1. 2. 3...)\n   - Table format with repeated rows for different properties\n   - Multiple 樓盤編號 (property IDs) in the document\n   - Broker listing sheets with many properties\n   - Keywords: 旺舖出租精選, 物業列表, 精選推介\n   - Usually has columns: 地址, 面積, 租金, etc. for EACH property\n   - More than 3 distinct properties in the document\n\n2. LISTING - Single property for rent/sale:\n   - ONE specific property only\n   - Has asking rent or sale price for ONE property\n   - Agent contact info\n   - Keywords: 招租, 出售, For Lease, For Sale, Subject to Contract\n   - Property particulars with area, floor, unit details\n   - Leasing proposal, sales brochure, tenancy terms\n\n3. NEWS - Market news, transaction report, or media article:\n   - Completed transaction (成交, 售出, transaction)\n   - News source, newspaper section\n   - Reporter/journalist byline\n   - Historical prices, profit/loss analysis\n\n4. CONTACT - Business card or contact information:\n   - Person's name prominently displayed\n   - Job title / position\n   - Company name\n   - Phone numbers, mobile, email address\n   - Usually a single page/image with minimal text\n   - NO property details, NO asking rent\n\nIMPORTANT: If you see multiple properties in a table format with different addresses and prices, classify as LISTING_LIST, not LISTING.\n\nReturn ONLY valid JSON:\n{\"classification\": \"listing\" or \"listing_list\" or \"news\" or \"contact\", \"confidence\": 0.0-1.0, \"reasoning\": \"Brief explanation\", \"propertyCount\": number or null}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://openrouter.ai/api/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer ' + config.OPENROUTER_API_KEY,\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'meta-llama/llama-3.3-70b-instruct',\n    messages: [\n      { role: 'system', content: 'You are a Hong Kong property document classifier. Return only valid JSON. Pay special attention to multi-property listing documents.' },\n      { role: 'user', content: classifyPrompt }\n    ],\n    temperature: 0.1\n  },\n  json: true\n});\n\nlet classification = { classification: 'listing', confidence: 0.5, propertyCount: 1 };\ntry {\n  let content = response.choices[0].message.content;\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) classification = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  classification.error = e.message;\n}\n\n// Auto-detect listing_list if multiple tables with property data\nif (data.stats.tableCount >= 2 && data.stats.pageCount >= 2 && classification.classification === 'listing') {\n  // Check if tables look like property listings\n  const allTableContent = data.tables.map(t => t.content).join(' ').toLowerCase();\n  const hasMultiplePropertyIndicators =\n    (allTableContent.match(/樓盤編號/g) || []).length >= 3 ||\n    (allTableContent.match(/vacant|已吉|現吉/gi) || []).length >= 3 ||\n    (allTableContent.match(/\\d{2,3},\\d{3}/g) || []).length >= 5;  // Multiple rent amounts\n\n  if (hasMultiplePropertyIndicators) {\n    classification.classification = 'listing_list';\n    classification.confidence = 0.85;\n    classification.reasoning = 'Auto-detected as listing_list: multiple property entries in tables';\n  }\n}\n\n// Auto-detect contact if image file with short text\nif (data.fileType === 'image' && data.stats.textLength < 500 && data.stats.pageCount === 1) {\n  const textLower = data.text.toLowerCase();\n  const hasContactIndicators =\n    (textLower.includes('@') || textLower.includes('email')) &&\n    (textLower.includes('mobile') || textLower.includes('tel') || /\\+?\\d{2,3}[\\s-]?\\d{4}[\\s-]?\\d{4}/.test(data.text));\n\n  if (hasContactIndicators && classification.classification !== 'contact') {\n    classification.classification = 'contact';\n    classification.confidence = 0.85;\n    classification.reasoning = 'Auto-detected as contact: image file with email/phone pattern';\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    classification: classification.classification || 'listing',\n    classificationConfidence: classification.confidence || 0.5,\n    classificationReasoning: classification.reasoning || '',\n    estimatedPropertyCount: classification.propertyCount || 1\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "id": "ai-classifier",
      "name": "AI Document Classifier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-listing",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "listing",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2420,
        0
      ],
      "id": "route-is-listing",
      "name": "Is Listing?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-news",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "news",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2420,
        200
      ],
      "id": "route-is-news",
      "name": "Is News?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare extraction prompt for LISTING documents\nconst data = $json;\nconst tableContent = data.tables.map((t, i) => `[Table ${i+1}]:\\n${t.content}`).join('\\n\\n');\n\nconst textStart = data.text.slice(0, 6000);\nconst textEnd = data.text.slice(-4000);\nconst fullContent = (textStart + '\\n...\\n' + textEnd + '\\n\\n' + tableContent).slice(0, 12000);\n\nreturn {\n  json: {\n    ...data,\n    extractionPrompt: `Document: ${data.fileName}\\n\\nContent:\\n${fullContent}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        100
      ],
      "id": "prepare-listing-prompt",
      "name": "Prepare Listing Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractionPrompt }}",
        "options": {
          "systemMessage": "You are a Hong Kong property data extraction expert. Extract structured information from property LISTING documents.\n\nIMPORTANT: Return ONLY valid JSON, no markdown, no explanation. The JSON must match this schema:\n{\n  \"docType\": \"leasing_proposal|sales_brochure|tenancy_agreement|floor_plan|valuation_report|other\",\n  \"language\": \"en|zh-hant|zh-hans|mixed\",\n  \"confidence\": 0.0-1.0,\n  \"name\": \"English name for listing\",\n  \"name_cn\": \"Chinese name\",\n  \"building_name\": \"Building name in English\",\n  \"address\": \"Street address if available\",\n  \"district\": \"central|admiralty|wan_chai|causeway_bay|north_point|quarry_bay|taikoo|wong_chuk_hang|sheung_wan|sai_ying_pun|tsim_sha_tsui|jordan|mong_kok|kowloon_bay|kwun_tong|lam_tin|san_po_kong|cheung_sha_wan|kwai_chung|tsuen_wan|sha_tin|fo_tan|tuen_mun|yuen_long|tai_po|other\",\n  \"floor\": \"Floor level\",\n  \"unit\": \"Unit/Shop number\",\n  \"listing_type\": \"leasing|coworking\",\n  \"property_type\": \"office|retail|industrial\",\n  \"building_grade\": \"grade_a|grade_b|grade_c|null\",\n  \"business_type\": \"dining|cafe|beauty|retail_shop|convenience|medical|education|other|null\",\n  \"gross_area\": number or null,\n  \"net_area\": number or null,\n  \"asking_rent\": number or null (monthly rent in HKD),\n  \"rent_per_sqft\": number or null,\n  \"asking_rent_text\": \"Original rent terms as stated\",\n  \"management_fee_psf\": number or null,\n  \"promotional_levy_psf\": number or null,\n  \"security_deposit_months\": number or null,\n  \"fitting_out_deposit\": number or null,\n  \"rent_free_period\": \"e.g. 1 month fit-out\",\n  \"turnover_rent_pct\": number or null (percentage),\n  \"lease_terms\": \"Deposit and lease terms\",\n  \"service_charge_text\": \"Service charge info\",\n  \"available_from\": \"YYYY-MM-DD or null\",\n  \"available_from_text\": \"Availability as stated\",\n  \"handover_condition\": \"As-is|Fitted|Shell|Bare shell|other\",\n  \"ac_hours\": \"e.g. 10am-10pm\",\n  \"agent_name\": \"Contact person name\",\n  \"agent_phone\": \"Phone number\",\n  \"agent_company\": \"Company name\",\n  \"description_en\": \"English summary\",\n  \"description_cn\": \"Chinese summary\"\n}\n\nDistrict mapping: 藍田 = lam_tin, 長沙灣 = cheung_sha_wan, 尖沙咀 = tsim_sha_tsui"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3080,
        100
      ],
      "id": "ai-listing-extractor",
      "name": "AI Listing Extractor"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2820,
        120
      ],
      "id": "llm-listing",
      "name": "Llama 3.3 (Listing)",
      "credentials": {
        "openRouterApi": {
          "id": "zd0DOKon3TSQ6C6I",
          "name": "OpenRouter account (admin@c21net.com)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $('AI Listing Extractor').item.json.output || $('AI Listing Extractor').item.json.text || '{}';\nconst originalData = $('Prepare Listing Prompt').item.json;\n\nlet propertyData = {};\ntry {\n  let rawContent = aiOutput;\n  rawContent = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) rawContent = jsonMatch[0];\n  propertyData = JSON.parse(rawContent);\n} catch (e) {\n  propertyData = { error: e.message, rawResponse: aiOutput.slice(0, 500) };\n}\n\nreturn {\n  json: {\n    text: originalData.text,\n    pageSpans: originalData.pageSpans,\n    tables: originalData.tables,\n    figures: originalData.figures,\n    fileName: originalData.fileName,\n    blobPath: originalData.blobPath,\n    encodedBlobPath: originalData.encodedBlobPath,\n    fileType: originalData.fileType,\n    stats: originalData.stats,\n    classification: 'listing',\n    _config: originalData._config,\n    propertyData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        100
      ],
      "id": "parse-listing-json",
      "name": "Parse Listing JSON"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst prop = data.propertyData || {};\nconst CHUNK_SIZE = 600;\nconst OVERLAP = 150;\n\nconst keyTopics = [];\nif (prop.building_name) keyTopics.push(prop.building_name);\nif (prop.name_cn) keyTopics.push(prop.name_cn);\nif (prop.district) keyTopics.push(prop.district);\nif (prop.property_type) keyTopics.push(prop.property_type);\n\nconst validDistricts = ['central','admiralty','wan_chai','causeway_bay','north_point','quarry_bay','taikoo','wong_chuk_hang','sheung_wan','sai_ying_pun','kennedy_town','happy_valley','tin_hau','fortress_hill','chai_wan','tsim_sha_tsui','jordan','mong_kok','prince_edward','yau_ma_tei','kowloon_city','kowloon_bay','kwun_tong','lam_tin','san_po_kong','cheung_sha_wan','sham_shui_po','whampoa','hung_hom','kai_tak','to_kwa_wan','kwai_chung','tsuen_wan','sha_tin','fo_tan','tuen_mun','yuen_long','po_lam','tai_po','fanling','sheung_shui','tseung_kwan_o','ma_on_shan','tin_shui_wai','tung_chung','other'];\nconst district = validDistricts.includes(prop.district) ? prop.district : 'other';\n\nconst chunks = [];\nconst getPage = (offset) => { \n  for (const ps of data.pageSpans) \n    if (offset >= ps.start && offset < ps.end) return ps.pageNumber; \n  return 1; \n};\n\nfor (let i = 0; i < data.text.length; i += CHUNK_SIZE - OVERLAP) {\n  const chunk = data.text.substring(i, i + CHUNK_SIZE);\n  if (chunk.trim().length > 50) {\n    chunks.push({ content: chunk, chunkType: 'text', pageNumber: getPage(i) });\n  }\n}\n\ndata.tables.forEach((t, i) => { \n  if (t.content?.trim().length > 20) \n    chunks.push({ content: `[Table ${i+1}]\\n${t.content}`, chunkType: 'table', pageNumber: t.pageNumber }); \n});\n\ndata.figures.forEach((f, i) => { \n  if (f.caption?.trim().length > 10) \n    chunks.push({ content: `[Figure ${i+1}]: ${f.caption}`, chunkType: 'figure', pageNumber: f.pageNumber }); \n});\n\nconst embedResult = await this.helpers.httpRequest({ \n  method: 'POST', \n  url: `${config.AZURE_OPENAI_ENDPOINT}/openai/deployments/text-embedding-3-small/embeddings?api-version=2024-02-01`, \n  headers: { 'api-key': config.AZURE_OPENAI_KEY, 'Content-Type': 'application/json' }, \n  body: { input: chunks.map(c => c.content), dimensions: 1024 }, \n  json: true \n});\nconst embeddings = embedResult.data || [];\n\nconst stableHash = (s) => { \n  let h = 5381; \n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0; \n  return h.toString(16).padStart(8, '0'); \n};\nconst fileHash = stableHash(data.fileName.toLowerCase());\n\nconst docs = chunks.map((chunk, idx) => ({\n  '@search.action': 'upload',\n  id: `${fileHash}_${idx}_${stableHash(chunk.content.slice(0, 100))}`,\n  content: chunk.content,\n  fileName: data.fileName,\n  blobPath: data.blobPath,\n  chunkIndex: idx,\n  chunkType: chunk.chunkType,\n  pageNumber: chunk.pageNumber,\n  aiDocType: prop.docType || 'listing',\n  aiLanguage: prop.language || '',\n  aiConfidence: Number(prop.confidence || 0),\n  aiKeyTopics: keyTopics,\n  embedding: embeddings[idx]?.embedding || [],\n  isImage: false,\n  imageUrl: '',\n  propertyName: prop.name || '',\n  propertyNameCn: prop.name_cn || '',\n  buildingName: prop.building_name || '',\n  district: district,\n  floor: prop.floor || '',\n  unit: prop.unit || '',\n  propertyType: prop.property_type || '',\n  listingType: prop.listing_type || 'leasing',\n  grossArea: prop.gross_area ? Number(prop.gross_area) : null,\n  netArea: prop.net_area ? Number(prop.net_area) : null,\n  askingRent: prop.asking_rent ? Number(prop.asking_rent) : null,\n  rentPerSqft: prop.rent_per_sqft ? Number(prop.rent_per_sqft) : null,\n  availableFrom: prop.available_from || ''\n}));\n\nconst indexResult = await this.helpers.httpRequest({ \n  method: 'POST', \n  url: `${config.AZURE_SEARCH_ENDPOINT}/indexes/${config.AZURE_SEARCH_LISTING_INDEX}/docs/index?api-version=2023-11-01`, \n  headers: { 'api-key': config.AZURE_SEARCH_API_KEY, 'Content-Type': 'application/json' }, \n  body: { value: docs }, \n  json: true \n});\n\nreturn { \n  json: { \n    fileName: data.fileName, \n    blobPath: data.blobPath,\n    encodedBlobPath: data.encodedBlobPath,\n    fileType: data.fileType,\n    stats: data.stats, \n    propertyData: prop, \n    classification: 'listing',\n    chunksIndexed: docs.length, \n    indexResult: indexResult.value?.length || 0, \n    indexName: config.AZURE_SEARCH_LISTING_INDEX,\n    _config: config \n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        100
      ],
      "id": "listing-chunk-embed-index",
      "name": "Listing: Chunk, Embed & Index"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst prop = data.propertyData || {};\nconst now = new Date();\n\nconst validDistricts = [\n  'central', 'admiralty', 'wan_chai', 'causeway_bay', 'north_point',\n  'quarry_bay', 'taikoo', 'wong_chuk_hang', 'sheung_wan', 'sai_ying_pun',\n  'tsim_sha_tsui', 'jordan', 'mong_kok', 'kowloon_bay', 'kwun_tong', 'lam_tin',\n  'san_po_kong', 'cheung_sha_wan', 'kwai_chung', 'tsuen_wan', 'sha_tin',\n  'fo_tan', 'tuen_mun', 'yuen_long', 'tai_po', 'other'\n];\nconst district = validDistricts.includes(prop.district) ? prop.district : 'other';\nconst listingType = prop.listing_type === 'coworking' ? 'coworking' : 'leasing';\n\nlet descEn = '<div>';\nif (prop.gross_area) descEn += '<p><strong>Gross Area:</strong> ' + prop.gross_area + ' sq.ft.</p>';\nif (prop.net_area) descEn += '<p><strong>Net Area:</strong> ' + prop.net_area + ' sq.ft.</p>';\nif (prop.asking_rent_text) descEn += '<p><strong>Asking Rent:</strong> ' + prop.asking_rent_text + '</p>';\nif (prop.management_fee_psf) descEn += '<p><strong>Management Fee:</strong> HK$' + prop.management_fee_psf + '/sq.ft.</p>';\nif (prop.lease_terms) descEn += '<p><strong>Lease Terms:</strong> ' + prop.lease_terms + '</p>';\nif (prop.handover_condition) descEn += '<p><strong>Handover:</strong> ' + prop.handover_condition + '</p>';\nif (prop.description_en) descEn += '<p>' + prop.description_en + '</p>';\ndescEn += '<hr/><p><small>Source: ' + data.fileName + ' | Processed: ' + now.toISOString() + '</small></p></div>';\n\nlet descCn = '<div>';\nif (prop.gross_area) descCn += '<p><strong>建築面積:</strong> ' + prop.gross_area + ' 平方尺</p>';\nif (prop.net_area) descCn += '<p><strong>實用面積:</strong> ' + prop.net_area + ' 平方尺</p>';\nif (prop.asking_rent_text) descCn += '<p><strong>租金:</strong> ' + prop.asking_rent_text + '</p>';\nif (prop.description_cn) descCn += '<p>' + prop.description_cn + '</p>';\ndescCn += '</div>';\n\nlet odooResult = { success: false };\nlet uid = null;\n\ntry {\n  const authResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: { service: 'common', method: 'authenticate', args: [config.ODOO_DB, config.ODOO_USERNAME, config.ODOO_API_KEY, {}] },\n      id: 1\n    },\n    json: true\n  });\n  uid = authResponse.result;\n  if (!uid) throw new Error('Odoo auth failed');\n\n  const searchResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: {\n        service: 'object',\n        method: 'execute_kw',\n        args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.listing', 'search', [[[\"description\", \"ilike\", \"Source: \" + data.fileName]]], { limit: 1 }]\n      },\n      id: 2\n    },\n    json: true\n  });\n\n  const existingId = (searchResponse.result || [])[0] || null;\n\n  const listingData = {\n    name: prop.name || data.fileName.replace(/\\.(pdf|jpg|jpeg|png)$/i, '').replace(/_/g, ' '),\n    listing_type: listingType,\n    district: district,\n    description: descEn,\n    description_cn: descCn\n  };\n\n  if (prop.name_cn) listingData.name_cn = prop.name_cn;\n  if (prop.building_name) listingData.building_name = prop.building_name;\n  if (prop.address) listingData.address = prop.address;\n  if (prop.floor) listingData.floor = prop.floor;\n  if (prop.unit) listingData.unit = prop.unit;\n  if (prop.gross_area) listingData.gross_area = Number(prop.gross_area);\n  if (prop.net_area) listingData.net_area = Number(prop.net_area);\n  if (prop.asking_rent) listingData.asking_rent = Number(prop.asking_rent);\n  if (prop.lease_terms) listingData.lease_terms = prop.lease_terms;\n\n  let listingId, refCode;\n\n  if (existingId) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.listing', 'write', [[existingId], listingData]] },\n        id: 3\n      },\n      json: true\n    });\n    \n    const existingImagesResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: {\n          service: 'object',\n          method: 'execute_kw',\n          args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.image', 'search', [[[\"property_id\", \"=\", existingId]]]]\n        },\n        id: 5\n      },\n      json: true\n    });\n    const existingImageIds = existingImagesResponse.result || [];\n    if (existingImageIds.length > 0) {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: config.ODOO_URL + '/jsonrpc',\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          jsonrpc: '2.0',\n          method: 'call',\n          params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.image', 'unlink', [existingImageIds]] },\n          id: 6\n        },\n        json: true\n      });\n    }\n    \n    listingId = existingId;\n    odooResult = { success: true, listingId, uid, isUpdate: true, deletedImages: existingImageIds.length, model: 'c21.property.listing' };\n  } else {\n    refCode = 'PROP-' + now.getFullYear() + String(now.getMonth() + 1).padStart(2, '0') + String(now.getDate()).padStart(2, '0') + '-' + Date.now().toString(36).toUpperCase();\n    listingData.ref_code = refCode;\n    listingData.approval_status = 'draft';\n    listingData.state = 'available';\n\n    const createResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.listing', 'create', [listingData]] },\n        id: 4\n      },\n      json: true\n    });\n\n    if (createResponse.result) {\n      listingId = createResponse.result;\n      odooResult = { success: true, listingId, uid, refCode, isUpdate: false, model: 'c21.property.listing' };\n    }\n  }\n} catch (e) {\n  odooResult = { success: false, error: e.message, model: 'c21.property.listing' };\n}\n\nreturn {\n  json: {\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    encodedBlobPath: data.encodedBlobPath,\n    fileType: data.fileType,\n    stats: data.stats,\n    propertyData: data.propertyData,\n    classification: 'listing',\n    chunksIndexed: data.chunksIndexed,\n    indexResult: data.indexResult,\n    indexName: data.indexName,\n    odooResult,\n    _config: config\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        100
      ],
      "id": "listing-odoo-upsert",
      "name": "Listing: Create/Update Odoo"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst odooResult = data.odooResult || {};\n\nlet imageUploadResults = [];\nlet pdfCoResult = { success: false, pagesConverted: 0 };\n\nif (!odooResult.success || !odooResult.listingId) {\n  return { json: { ...data, odooResult: { ...odooResult, imagesUploaded: 0, imagesFailed: 0, imageDetails: [], pdfCoError: 'No listing ID' } } };\n}\n\nconst uid = odooResult.uid;\nconst listingId = odooResult.listingId;\n\nif (data.fileType === 'image') {\n  try {\n    const imageUrl = `https://${config.AZURE_BLOB_ACCOUNT}.blob.core.windows.net/${config.AZURE_BLOB_CONTAINER}/${data.encodedBlobPath}?${config.AZURE_BLOB_READ_SAS}`;\n    const imageResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: imageUrl,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    const base64Image = Buffer.from(imageResponse.body).toString('base64');\n    \n    const imageData = {\n      property_id: listingId,\n      name: 'Uploaded Image',\n      image: base64Image,\n      sequence: 1,\n      is_cover: true\n    };\n    \n    const createImageResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.image', 'create', [imageData]] },\n        id: 20\n      },\n      json: true\n    });\n    \n    if (createImageResponse.result) {\n      imageUploadResults.push({ page: 1, success: true, imageId: createImageResponse.result });\n    }\n  } catch (e) {\n    imageUploadResults.push({ page: 1, success: false, error: e.message });\n  }\n  \n  return {\n    json: {\n      ...data,\n      odooResult: {\n        ...odooResult,\n        imagesUploaded: imageUploadResults.filter(r => r.success).length,\n        imagesFailed: imageUploadResults.filter(r => !r.success).length,\n        imageDetails: imageUploadResults\n      }\n    }\n  };\n}\n\nconst encodedPath = data.blobPath.split('/').map(p => encodeURIComponent(p)).join('/');\nconst pdfUrl = `https://${config.AZURE_BLOB_ACCOUNT}.blob.core.windows.net/${config.AZURE_BLOB_CONTAINER}/${encodedPath}?${config.AZURE_BLOB_READ_SAS}`;\n\nconst maxPagesToTry = 3; // Reduced for n8n Cloud 60s limit\n\ntry {\n  for (let pageIndex = 0; pageIndex < maxPagesToTry; pageIndex++) {\n    const pageNum = pageIndex + 1;\n    let pdfCoResponse;\n    \n    try {\n      pdfCoResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.pdf.co/v1/pdf/convert/to/png',\n        headers: {\n          'x-api-key': config.PDF_CO_API_KEY,\n          'Content-Type': 'application/json'\n        },\n        body: {\n          url: pdfUrl,\n          pages: String(pageIndex),\n          async: false\n        },\n        json: true\n      });\n    } catch (httpErr) {\n      if (httpErr.message && (httpErr.message.includes('454') || httpErr.message.includes('out of range'))) {\n        pdfCoResult.success = true;\n        pdfCoResult.totalPages = pageIndex;\n        break;\n      } else {\n        pdfCoResult.error = httpErr.message;\n        break;\n      }\n    }\n    \n    if (pdfCoResponse && pdfCoResponse.error) {\n      if (pdfCoResponse.message && pdfCoResponse.message.includes('out of range')) {\n        pdfCoResult.success = true;\n        pdfCoResult.totalPages = pageIndex;\n        break;\n      } else {\n        pdfCoResult.error = pdfCoResponse.message || JSON.stringify(pdfCoResponse);\n        break;\n      }\n    }\n    \n    const imageUrls = pdfCoResponse.urls || [];\n    if (imageUrls.length === 0) {\n      pdfCoResult.error = 'No image URL returned for page ' + pageNum;\n      break;\n    }\n    \n    pdfCoResult.pagesConverted = pageNum;\n    \n    try {\n      const imageResponse = await this.helpers.httpRequest({\n        method: 'GET',\n        url: imageUrls[0],\n        encoding: 'arraybuffer',\n        returnFullResponse: true\n      });\n      \n      const base64Image = Buffer.from(imageResponse.body).toString('base64');\n      \n      const imageData = {\n        property_id: listingId,\n        name: 'Page ' + pageNum,\n        image: base64Image,\n        sequence: pageNum,\n        is_cover: pageNum === 1\n      };\n      \n      const createImageResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: config.ODOO_URL + '/jsonrpc',\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          jsonrpc: '2.0',\n          method: 'call',\n          params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.image', 'create', [imageData]] },\n          id: 20 + pageNum\n        },\n        json: true\n      });\n      \n      if (createImageResponse.result) {\n        imageUploadResults.push({ page: pageNum, success: true, imageId: createImageResponse.result });\n      } else {\n        imageUploadResults.push({ page: pageNum, success: false, error: createImageResponse.error || 'Unknown Odoo error' });\n      }\n    } catch (imgErr) {\n      imageUploadResults.push({ page: pageNum, success: false, error: imgErr.message });\n    }\n  }\n  \n  if (pdfCoResult.pagesConverted > 0) {\n    pdfCoResult.success = true;\n  }\n} catch (e) {\n  pdfCoResult.error = e.message;\n}\n\nconst successCount = imageUploadResults.filter(r => r.success).length;\nconst failCount = imageUploadResults.filter(r => !r.success).length;\n\nreturn {\n  json: {\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    fileType: data.fileType,\n    stats: data.stats,\n    propertyData: data.propertyData,\n    classification: 'listing',\n    chunksIndexed: data.chunksIndexed,\n    indexResult: data.indexResult,\n    indexName: data.indexName,\n    odooResult: {\n      ...odooResult,\n      pdfCoResult: pdfCoResult,\n      imagesUploaded: successCount,\n      imagesFailed: failCount,\n      imageDetails: imageUploadResults\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        100
      ],
      "id": "listing-upload-images",
      "name": "Listing: Upload Images to Odoo"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst tableContent = data.tables.map((t, i) => `[Table ${i+1}]:\\n${t.content}`).join('\\n\\n');\nconst fullContent = (data.text + '\\n\\n' + tableContent).slice(0, 10000);\n\nreturn {\n  json: {\n    ...data,\n    extractionPrompt: `Document: ${data.fileName}\\n\\nContent:\\n${fullContent}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        100
      ],
      "id": "prepare-news-prompt",
      "name": "Prepare News Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractionPrompt }}",
        "options": {
          "systemMessage": "You are a Hong Kong property NEWS extraction expert. Extract structured information from property news articles.\n\nIMPORTANT: Return ONLY valid JSON, no markdown. The JSON must match this schema:\n{\n  \"articleType\": \"transaction|market_report|development|investment|other\",\n  \"language\": \"en|zh-hant|zh-hans|mixed\",\n  \"confidence\": 0.0-1.0,\n  \"headline\": \"Main headline\",\n  \"headline_en\": \"English translation\",\n  \"source\": \"Newspaper/media name\",\n  \"reporter\": \"Reporter name\",\n  \"publish_date\": \"YYYY-MM-DD or null\",\n  \"property_name\": \"Property name\",\n  \"property_name_cn\": \"Chinese name\",\n  \"address\": \"Full address\",\n  \"district\": \"central|admiralty|wan_chai|tsim_sha_tsui|other\",\n  \"property_type\": \"office|retail|industrial|residential|other\",\n  \"transaction_price\": number or null,\n  \"transaction_price_text\": \"Original text\",\n  \"price_per_sqft\": number or null,\n  \"transaction_date\": \"YYYY-MM-DD or null\",\n  \"gross_area\": number or null,\n  \"seller\": \"Seller name\",\n  \"buyer\": \"Buyer name\",\n  \"profit_loss\": number or null,\n  \"profit_loss_text\": \"Original text\",\n  \"key_facts\": [\"Array of facts\"],\n  \"market_sentiment\": \"positive|neutral|negative\",\n  \"summary_en\": \"English summary\",\n  \"summary_cn\": \"Chinese summary\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2860,
        100
      ],
      "id": "ai-news-extractor",
      "name": "AI News Extractor"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2820,
        320
      ],
      "id": "llm-news",
      "name": "Llama 3.3 (News)",
      "credentials": {
        "openRouterApi": {
          "id": "zd0DOKon3TSQ6C6I",
          "name": "OpenRouter account (admin@c21net.com)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $('AI News Extractor').item.json.output || $('AI News Extractor').item.json.text || '{}';\nconst originalData = $('Prepare News Prompt').item.json;\n\nlet newsData = {};\ntry {\n  let rawContent = aiOutput;\n  rawContent = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) rawContent = jsonMatch[0];\n  newsData = JSON.parse(rawContent);\n} catch (e) {\n  newsData = { error: e.message, rawResponse: aiOutput.slice(0, 500) };\n}\n\nreturn {\n  json: {\n    text: originalData.text,\n    pageSpans: originalData.pageSpans,\n    tables: originalData.tables,\n    figures: originalData.figures,\n    fileName: originalData.fileName,\n    blobPath: originalData.blobPath,\n    encodedBlobPath: originalData.encodedBlobPath,\n    fileType: originalData.fileType,\n    stats: originalData.stats,\n    classification: 'news',\n    _config: originalData._config,\n    newsData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        100
      ],
      "id": "parse-news-json",
      "name": "Parse News JSON"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst news = data.newsData || {};\nconst CHUNK_SIZE = 600;\nconst OVERLAP = 150;\n\nconst keyTopics = [];\nif (news.property_name) keyTopics.push(news.property_name);\nif (news.property_name_cn) keyTopics.push(news.property_name_cn);\nif (news.district) keyTopics.push(news.district);\n\nconst validDistricts = ['central','admiralty','wan_chai','causeway_bay','north_point','quarry_bay','taikoo','wong_chuk_hang','sheung_wan','tsim_sha_tsui','jordan','mong_kok','kowloon_bay','kwun_tong','san_po_kong','kwai_chung','tsuen_wan','sha_tin','fo_tan','tuen_mun','yuen_long','other'];\nconst district = validDistricts.includes(news.district) ? news.district : 'other';\n\nconst chunks = [];\nconst getPage = (offset) => { \n  for (const ps of data.pageSpans) \n    if (offset >= ps.start && offset < ps.end) return ps.pageNumber; \n  return 1; \n};\n\nfor (let i = 0; i < data.text.length; i += CHUNK_SIZE - OVERLAP) {\n  const chunk = data.text.substring(i, i + CHUNK_SIZE);\n  if (chunk.trim().length > 50) {\n    chunks.push({ content: chunk, chunkType: 'text', pageNumber: getPage(i) });\n  }\n}\n\ndata.tables.forEach((t, i) => { \n  if (t.content?.trim().length > 20) \n    chunks.push({ content: `[Table ${i+1}]\\n${t.content}`, chunkType: 'table', pageNumber: t.pageNumber }); \n});\n\nconst embedResult = await this.helpers.httpRequest({ \n  method: 'POST', \n  url: `${config.AZURE_OPENAI_ENDPOINT}/openai/deployments/text-embedding-3-small/embeddings?api-version=2024-02-01`, \n  headers: { 'api-key': config.AZURE_OPENAI_KEY, 'Content-Type': 'application/json' }, \n  body: { input: chunks.map(c => c.content), dimensions: 1024 }, \n  json: true \n});\nconst embeddings = embedResult.data || [];\n\nconst stableHash = (s) => { \n  let h = 5381; \n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0; \n  return h.toString(16).padStart(8, '0'); \n};\nconst fileHash = stableHash(data.fileName.toLowerCase());\n\nconst docs = chunks.map((chunk, idx) => ({\n  '@search.action': 'upload',\n  id: `${fileHash}_${idx}_${stableHash(chunk.content.slice(0, 100))}`,\n  content: chunk.content,\n  fileName: data.fileName,\n  blobPath: data.blobPath,\n  chunkIndex: idx,\n  chunkType: chunk.chunkType,\n  pageNumber: chunk.pageNumber,\n  embedding: embeddings[idx]?.embedding || [],\n  articleType: news.articleType || 'other',\n  headline: news.headline || '',\n  headlineEn: news.headline_en || '',\n  source: news.source || '',\n  publishDate: news.publish_date || '',\n  propertyName: news.property_name || '',\n  propertyNameCn: news.property_name_cn || '',\n  district: district,\n  propertyType: news.property_type || '',\n  transactionPrice: news.transaction_price ? Number(news.transaction_price) : null,\n  grossArea: news.gross_area ? Number(news.gross_area) : null,\n  seller: news.seller || '',\n  buyer: news.buyer || '',\n  marketSentiment: news.market_sentiment || 'neutral',\n  summaryEn: news.summary_en || '',\n  summaryCn: news.summary_cn || ''\n}));\n\nconst indexResult = await this.helpers.httpRequest({ \n  method: 'POST', \n  url: `${config.AZURE_SEARCH_ENDPOINT}/indexes/${config.AZURE_SEARCH_NEWS_INDEX}/docs/index?api-version=2023-11-01`, \n  headers: { 'api-key': config.AZURE_SEARCH_API_KEY, 'Content-Type': 'application/json' }, \n  body: { value: docs }, \n  json: true \n});\n\nreturn { \n  json: { \n    fileName: data.fileName, \n    blobPath: data.blobPath,\n    encodedBlobPath: data.encodedBlobPath,\n    fileType: data.fileType,\n    stats: data.stats, \n    newsData: news, \n    classification: 'news',\n    chunksIndexed: docs.length, \n    indexResult: indexResult.value?.length || 0, \n    indexName: config.AZURE_SEARCH_NEWS_INDEX,\n    _config: config \n  } \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        100
      ],
      "id": "news-chunk-embed-index",
      "name": "News: Chunk, Embed & Index"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst news = data.newsData || {};\nconst now = new Date();\n\nlet odooResult = { success: false };\nlet uid = null;\n\ntry {\n  const authResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: { service: 'common', method: 'authenticate', args: [config.ODOO_DB, config.ODOO_USERNAME, config.ODOO_API_KEY, {}] },\n      id: 1\n    },\n    json: true\n  });\n  uid = authResponse.result;\n  if (!uid) throw new Error('Odoo auth failed');\n\n  let description = '';\n  if (news.summary_cn) description += news.summary_cn + '\\n\\n';\n  if (news.summary_en) description += news.summary_en + '\\n\\n';\n  if (news.transaction_price_text) description += '成交價: ' + news.transaction_price_text + '\\n';\n  if (news.key_facts && news.key_facts.length > 0) {\n    description += '\\n重點:\\n' + news.key_facts.map(f => '• ' + f).join('\\n');\n  }\n  description += '\\n\\n---\\nSource: ' + data.fileName + ' | Processed: ' + now.toISOString();\n\n  const newsRecord = {\n    name: news.headline || news.headline_en || data.fileName.replace(/\\.(pdf|jpg|jpeg|png)$/i, ''),\n    description: description,\n    source: news.source || 'Unknown',\n    is_property_news: true,\n    relevance_score: Math.round((news.confidence || 0.7) * 100)\n  };\n\n  if (news.publish_date && /^\\d{4}-\\d{2}-\\d{2}$/.test(news.publish_date)) {\n    newsRecord.publish_date = news.publish_date;\n  }\n\n  const searchResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: {\n        service: 'object',\n        method: 'execute_kw',\n        args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.social.news', 'search', [[[\"description\", \"ilike\", \"Source: \" + data.fileName]]], { limit: 1 }]\n      },\n      id: 2\n    },\n    json: true\n  });\n\n  const existingId = (searchResponse.result || [])[0] || null;\n  let newsId;\n\n  if (existingId) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.social.news', 'write', [[existingId], newsRecord]] },\n        id: 3\n      },\n      json: true\n    });\n    newsId = existingId;\n    odooResult = { success: true, newsId, uid, isUpdate: true, model: 'c21.social.news' };\n  } else {\n    newsRecord.fetch_date = now.toISOString().split('T')[0];\n    newsRecord.used = false;\n\n    const createResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.social.news', 'create', [newsRecord]] },\n        id: 4\n      },\n      json: true\n    });\n\n    if (createResponse.result) {\n      newsId = createResponse.result;\n      odooResult = { success: true, newsId, uid, isUpdate: false, model: 'c21.social.news' };\n    }\n  }\n} catch (e) {\n  odooResult = { success: false, error: e.message, model: 'c21.social.news' };\n}\n\nreturn {\n  json: {\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    encodedBlobPath: data.encodedBlobPath,\n    fileType: data.fileType,\n    stats: data.stats,\n    newsData: data.newsData,\n    classification: 'news',\n    chunksIndexed: data.chunksIndexed,\n    indexResult: data.indexResult,\n    indexName: data.indexName,\n    odooResult,\n    _config: config\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        100
      ],
      "id": "news-odoo-create",
      "name": "News: Create Odoo Social News"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst odooResult = data.odooResult || {};\n\nlet imageUploadResults = [];\n\nif (!odooResult.success || !odooResult.newsId) {\n  return { json: { ...data, odooResult: { ...odooResult, imagesUploaded: 0, imagesFailed: 0, imageDetails: [] } } };\n}\n\nconst uid = odooResult.uid;\nconst newsId = odooResult.newsId;\n\nif (data.fileType === 'image') {\n  try {\n    const imageUrl = `https://${config.AZURE_BLOB_ACCOUNT}.blob.core.windows.net/${config.AZURE_BLOB_CONTAINER}/${data.encodedBlobPath}?${config.AZURE_BLOB_READ_SAS}`;\n    const imageResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: imageUrl,\n      encoding: 'arraybuffer',\n      returnFullResponse: true\n    });\n    const base64Image = Buffer.from(imageResponse.body).toString('base64');\n    \n    const attachmentData = {\n      name: data.fileName,\n      datas: base64Image,\n      res_model: 'c21.social.news',\n      res_id: newsId,\n      mimetype: 'image/jpeg'\n    };\n    \n    const createAttachmentResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'ir.attachment', 'create', [attachmentData]] },\n        id: 20\n      },\n      json: true\n    });\n    \n    if (createAttachmentResponse.result) {\n      imageUploadResults.push({ page: 1, success: true, attachmentId: createAttachmentResponse.result });\n    }\n  } catch (e) {\n    imageUploadResults.push({ page: 1, success: false, error: e.message });\n  }\n} else {\n  // PDF: convert first page\n  const encodedPath = data.blobPath.split('/').map(p => encodeURIComponent(p)).join('/');\n  const pdfUrl = `https://${config.AZURE_BLOB_ACCOUNT}.blob.core.windows.net/${config.AZURE_BLOB_CONTAINER}/${encodedPath}?${config.AZURE_BLOB_READ_SAS}`;\n\n  try {\n    const pdfCoResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.pdf.co/v1/pdf/convert/to/png',\n      headers: {\n        'x-api-key': config.PDF_CO_API_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        url: pdfUrl,\n        pages: '0',\n        async: false\n      },\n      json: true\n    });\n    \n    if (pdfCoResponse.urls && pdfCoResponse.urls.length > 0) {\n      const imageResponse = await this.helpers.httpRequest({\n        method: 'GET',\n        url: pdfCoResponse.urls[0],\n        encoding: 'arraybuffer',\n        returnFullResponse: true\n      });\n      \n      const base64Image = Buffer.from(imageResponse.body).toString('base64');\n      \n      const attachmentData = {\n        name: data.fileName.replace('.pdf', '_page1.png'),\n        datas: base64Image,\n        res_model: 'c21.social.news',\n        res_id: newsId,\n        mimetype: 'image/png'\n      };\n      \n      const createAttachmentResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: config.ODOO_URL + '/jsonrpc',\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          jsonrpc: '2.0',\n          method: 'call',\n          params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'ir.attachment', 'create', [attachmentData]] },\n          id: 21\n        },\n        json: true\n      });\n      \n      if (createAttachmentResponse.result) {\n        imageUploadResults.push({ page: 1, success: true, attachmentId: createAttachmentResponse.result });\n      }\n    }\n  } catch (e) {\n    imageUploadResults.push({ page: 1, success: false, error: e.message });\n  }\n}\n\nreturn {\n  json: {\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    fileType: data.fileType,\n    stats: data.stats,\n    newsData: data.newsData,\n    classification: 'news',\n    chunksIndexed: data.chunksIndexed,\n    indexResult: data.indexResult,\n    indexName: data.indexName,\n    odooResult: {\n      ...odooResult,\n      imagesUploaded: imageUploadResults.filter(r => r.success).length,\n      imagesFailed: imageUploadResults.filter(r => !r.success).length,\n      imageDetails: imageUploadResults\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        100
      ],
      "id": "news-upload-images",
      "name": "News: Upload Images to Odoo"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn {\n  json: {\n    ...data,\n    extractionPrompt: `Business Card / Contact Information\\n\\nFile: ${data.fileName}\\n\\nExtracted Text:\\n${data.text}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ],
      "id": "prepare-contact-prompt",
      "name": "Prepare Contact Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extractionPrompt }}",
        "options": {
          "systemMessage": "You are a business card data extraction expert. Extract contact information.\n\nIMPORTANT: Return ONLY valid JSON:\n{\n  \"confidence\": 0.0-1.0,\n  \"name\": \"Full name in English\",\n  \"name_cn\": \"Chinese name\",\n  \"title\": \"Job title in English\",\n  \"title_cn\": \"Job title in Chinese\",\n  \"department\": \"Department name\",\n  \"company\": \"Company name in English\",\n  \"company_cn\": \"Company name in Chinese\",\n  \"mobile\": \"Mobile phone with country code\",\n  \"phone\": \"Office phone\",\n  \"email\": \"Email address\",\n  \"website\": \"Website URL\",\n  \"address\": \"Office address\",\n  \"city\": \"City name\",\n  \"country\": \"Country\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2860,
        300
      ],
      "id": "ai-contact-extractor",
      "name": "AI Contact Extractor"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2820,
        520
      ],
      "id": "llm-contact",
      "name": "Llama 3.3 (Contact)",
      "credentials": {
        "openRouterApi": {
          "id": "zd0DOKon3TSQ6C6I",
          "name": "OpenRouter account (admin@c21net.com)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $('AI Contact Extractor').item.json.output || $('AI Contact Extractor').item.json.text || '{}';\nconst originalData = $('Prepare Contact Prompt').item.json;\n\nlet contactData = {};\ntry {\n  let rawContent = aiOutput;\n  rawContent = rawContent.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) rawContent = jsonMatch[0];\n  contactData = JSON.parse(rawContent);\n} catch (e) {\n  contactData = { error: e.message, rawResponse: aiOutput.slice(0, 500) };\n}\n\nreturn {\n  json: {\n    text: originalData.text,\n    fileName: originalData.fileName,\n    blobPath: originalData.blobPath,\n    encodedBlobPath: originalData.encodedBlobPath,\n    fileType: originalData.fileType,\n    stats: originalData.stats,\n    classification: 'contact',\n    _config: originalData._config,\n    contactData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        300
      ],
      "id": "parse-contact-json",
      "name": "Parse Contact JSON"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst contact = data.contactData || {};\nconst now = new Date();\n\nlet odooResult = { success: false };\nlet uid = null;\nlet debugLog = [];\n\n// Helper to check Odoo response for errors\nconst checkOdooResponse = (response, step) => {\n  debugLog.push({ step, hasResult: !!response.result, hasError: !!response.error });\n  if (response.error) {\n    const errMsg = response.error.data?.message || response.error.message || JSON.stringify(response.error);\n    throw new Error(`Odoo ${step}: ${errMsg}`);\n  }\n  return response;\n};\n\ntry {\n  debugLog.push({ step: 'start', contact: { name: contact.name, email: contact.email, company: contact.company } });\n  \n  const authResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: { service: 'common', method: 'authenticate', args: [config.ODOO_DB, config.ODOO_USERNAME, config.ODOO_API_KEY, {}] },\n      id: 1\n    },\n    json: true\n  });\n  checkOdooResponse(authResponse, 'auth');\n  uid = authResponse.result;\n  if (!uid) throw new Error('Odoo auth failed - no uid returned');\n  debugLog.push({ step: 'auth_success', uid });\n\n  let companyId = null;\n  if (contact.company) {\n    const companySearchResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: {\n          service: 'object',\n          method: 'execute_kw',\n          args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'res.partner', 'search', [[[\"name\", \"ilike\", contact.company], [\"is_company\", \"=\", true]]], { limit: 1 }]\n        },\n        id: 2\n      },\n      json: true\n    });\n    checkOdooResponse(companySearchResponse, 'company_search');\n    companyId = (companySearchResponse.result || [])[0] || null;\n    debugLog.push({ step: 'company_search', found: !!companyId, companyId });\n    \n    if (!companyId) {\n      const companyData = {\n        name: contact.company,\n        is_company: true,\n        company_type: 'company'\n      };\n      if (contact.website) companyData.website = contact.website;\n      if (contact.phone) companyData.phone = contact.phone;\n      if (contact.address) companyData.street = contact.address;\n      \n      const createCompanyResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: config.ODOO_URL + '/jsonrpc',\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          jsonrpc: '2.0',\n          method: 'call',\n          params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'res.partner', 'create', [companyData]] },\n          id: 3\n        },\n        json: true\n      });\n      checkOdooResponse(createCompanyResponse, 'company_create');\n      \n      if (createCompanyResponse.result) {\n        companyId = createCompanyResponse.result;\n        debugLog.push({ step: 'company_created', companyId });\n      }\n    }\n  }\n\n  let searchDomain = [];\n  if (contact.email) {\n    searchDomain = [[\"email\", \"=\", contact.email]];\n  } else if (contact.name) {\n    searchDomain = [[\"name\", \"ilike\", contact.name], [\"is_company\", \"=\", false]];\n  }\n  \n  let existingId = null;\n  if (searchDomain.length > 0) {\n    const searchResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: {\n          service: 'object',\n          method: 'execute_kw',\n          args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'res.partner', 'search', [searchDomain], { limit: 1 }]\n        },\n        id: 4\n      },\n      json: true\n    });\n    checkOdooResponse(searchResponse, 'partner_search');\n    existingId = (searchResponse.result || [])[0] || null;\n    debugLog.push({ step: 'partner_search', searchDomain, found: !!existingId, existingId });\n  }\n\n  // Build notes with all contact info\n  const notes = [];\n  notes.push(`Source: ${data.fileName}`);\n  notes.push(`Imported: ${now.toISOString()}`);\n  if (contact.mobile) notes.push(`Mobile: ${contact.mobile}`);\n  if (contact.phone && contact.mobile && contact.phone !== contact.mobile) notes.push(`Office: ${contact.phone}`);\n  if (contact.department) notes.push(`Department: ${contact.department}`);\n  if (contact.title_cn) notes.push(`Title (CN): ${contact.title_cn}`);\n  if (contact.name_cn) notes.push(`Name (CN): ${contact.name_cn}`);\n  \n  const partnerData = {\n    name: contact.name || 'Unknown Contact',\n    is_company: false,\n    company_type: 'person',\n    comment: notes.join(' | ')\n  };\n\n  if (companyId) partnerData.parent_id = companyId;\n  if (contact.title) partnerData.function = contact.title;\n  if (contact.email) partnerData.email = contact.email;\n  // Use mobile as phone if no phone provided, otherwise use phone\n  partnerData.phone = contact.mobile || contact.phone || '';\n  if (contact.website) partnerData.website = contact.website;\n  if (contact.address) partnerData.street = contact.address;\n  if (contact.city) partnerData.city = contact.city;\n  \n  debugLog.push({ step: 'partnerData', partnerData });\n\n  let partnerId;\n\n  if (existingId) {\n    const updateResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'res.partner', 'write', [[existingId], partnerData]] },\n        id: 5\n      },\n      json: true\n    });\n    checkOdooResponse(updateResponse, 'partner_update');\n    partnerId = existingId;\n    odooResult = { success: true, partnerId, uid, companyId, isUpdate: true, model: 'res.partner' };\n    debugLog.push({ step: 'partner_updated', partnerId });\n  } else {\n    const createResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'res.partner', 'create', [partnerData]] },\n        id: 6\n      },\n      json: true\n    });\n    checkOdooResponse(createResponse, 'partner_create');\n\n    if (createResponse.result) {\n      partnerId = createResponse.result;\n      odooResult = { success: true, partnerId, uid, companyId, isUpdate: false, model: 'res.partner' };\n      debugLog.push({ step: 'partner_created', partnerId });\n    } else {\n      throw new Error('Partner create returned no result');\n    }\n  }\n} catch (e) {\n  debugLog.push({ step: 'error', message: e.message });\n  odooResult = { success: false, error: e.message, model: 'res.partner', debugLog };\n}\n\nreturn {\n  json: {\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    encodedBlobPath: data.encodedBlobPath,\n    fileType: data.fileType,\n    stats: data.stats,\n    contactData: data.contactData,\n    classification: 'contact',\n    odooResult: { ...odooResult, debugLog },\n    _config: config\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        300
      ],
      "id": "contact-odoo-create",
      "name": "Contact: Create/Update Odoo Partner"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst config = data._config;\nconst odooResult = data.odooResult || {};\n\nlet imageUploadResult = { success: false };\n\nif (!odooResult.success || !odooResult.partnerId) {\n  return { json: { ...data, odooResult: { ...odooResult, imageUploaded: false } } };\n}\n\nconst uid = odooResult.uid;\nconst partnerId = odooResult.partnerId;\n\ntry {\n  const imageUrl = `https://${config.AZURE_BLOB_ACCOUNT}.blob.core.windows.net/${config.AZURE_BLOB_CONTAINER}/${data.encodedBlobPath}?${config.AZURE_BLOB_READ_SAS}`;\n  const imageResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: imageUrl,\n    encoding: 'arraybuffer',\n    returnFullResponse: true\n  });\n  const base64Image = Buffer.from(imageResponse.body).toString('base64');\n  \n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: { \n        service: 'object', \n        method: 'execute_kw', \n        args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'res.partner', 'write', [[partnerId], { image_1920: base64Image }]] \n      },\n      id: 10\n    },\n    json: true\n  });\n  \n  const attachmentData = {\n    name: 'Business Card - ' + data.fileName,\n    datas: base64Image,\n    res_model: 'res.partner',\n    res_id: partnerId,\n    mimetype: 'image/jpeg'\n  };\n  \n  const createAttachmentResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'ir.attachment', 'create', [attachmentData]] },\n      id: 11\n    },\n    json: true\n  });\n  \n  if (createAttachmentResponse.result) {\n    imageUploadResult = { success: true, attachmentId: createAttachmentResponse.result, imageSet: true };\n  } else {\n    imageUploadResult = { success: true, imageSet: true, attachmentId: null };\n  }\n} catch (e) {\n  imageUploadResult = { success: false, error: e.message };\n}\n\nreturn {\n  json: {\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    fileType: data.fileType,\n    stats: data.stats,\n    contactData: data.contactData,\n    classification: 'contact',\n    odooResult: {\n      ...odooResult,\n      imageUploaded: imageUploadResult.success,\n      imageDetails: imageUploadResult\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        300
      ],
      "id": "contact-upload-image",
      "name": "Contact: Upload Image to Odoo"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn {\n  json: {\n    status: 'completed',\n    fileName: data.fileName,\n    blobPath: data.blobPath,\n    fileType: data.fileType,\n    classification: data.classification,\n    stats: data.stats,\n    chunksIndexed: data.chunksIndexed || 0,\n    indexName: data.indexName || 'N/A (contact)',\n    odooResult: data.odooResult,\n    processedAt: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        100
      ],
      "id": "final-summary",
      "name": "Processing Complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-listing-list",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "listing_list",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        -100
      ],
      "id": "route-is-listing-list",
      "name": "Is Listing List?"
    },
    {
      "parameters": {
        "jsCode": "// Parse multi-property listing table into individual items\nconst data = $json;\nconst config = data._config;\n\n// District mapping from Chinese to Odoo keys\nconst districtMap = {\n  '中環': 'central',\n  '金鐘': 'admiralty',\n  '灣仔': 'wan_chai',\n  '銅鑼灣': 'causeway_bay',\n  '北角': 'north_point',\n  '鰂魚涌': 'quarry_bay',\n  '魚涌': 'quarry_bay',\n  '太古': 'taikoo',\n  '黃竹坑': 'wong_chuk_hang',\n  '上環': 'sheung_wan',\n  '西營盤': 'sai_ying_pun',\n  '西環': 'kennedy_town',\n  '堅尼地城': 'kennedy_town',\n  '跑馬地': 'happy_valley',\n  '天后': 'tin_hau',\n  '炮台山': 'fortress_hill',\n  '柴灣': 'chai_wan',\n  '尖沙咀': 'tsim_sha_tsui',\n  '佐敦': 'jordan',\n  '旺角': 'mong_kok',\n  '太子': 'prince_edward',\n  '油麻地': 'yau_ma_tei',\n  '九龍城': 'kowloon_city',\n  '九龍灣': 'kowloon_bay',\n  '觀塘': 'kwun_tong',\n  '藍田': 'lam_tin',\n  '新蒲崗': 'san_po_kong',\n  '長沙灣': 'cheung_sha_wan',\n  '深水埗': 'sham_shui_po',\n  '深水': 'sham_shui_po',\n  '黃埔': 'whampoa',\n  '紅磡': 'hung_hom',\n  '啟德': 'kai_tak',\n  '土瓜灣': 'to_kwa_wan',\n  '葵涌': 'kwai_chung',\n  '葵芳': 'kwai_chung',\n  '荃灣': 'tsuen_wan',\n  '沙田': 'sha_tin',\n  '火炭': 'fo_tan',\n  '屯門': 'tuen_mun',\n  '元朗': 'yuen_long',\n  '寶琳': 'po_lam',\n  '大埔': 'tai_po',\n  '粉嶺': 'fanling',\n  '上水': 'sheung_shui',\n  '將軍澳': 'tseung_kwan_o',\n  '馬鞍山': 'ma_on_shan',\n  '天水圍': 'tin_shui_wai',\n  '東涌': 'tung_chung',\n  '香港': 'other',\n  '九龍': 'other',\n  '新界': 'other'\n};\n\n// Function to detect district from address\nfunction detectDistrict(address) {\n  for (const [cn, key] of Object.entries(districtMap)) {\n    if (address.includes(cn)) return key;\n  }\n  return 'other';\n}\n\n// Function to extract property ID\nfunction extractPropertyId(text) {\n  const match = text.match(/樓盤編號[：:]*\\s*(\\d+)/);\n  return match ? match[1] : null;\n}\n\n// Function to parse rent amount\nfunction parseRent(rentText) {\n  if (!rentText) return null;\n  const cleaned = String(rentText).replace(/[^\\d]/g, '');\n  return cleaned ? parseInt(cleaned) : null;\n}\n\n// Function to parse area\nfunction parseArea(areaText) {\n  if (!areaText) return null;\n  const match = String(areaText).match(/([\\d,]+)/);\n  if (match) {\n    return parseInt(match[1].replace(/,/g, ''));\n  }\n  return null;\n}\n\n// Parse tables to extract property listings\nconst properties = [];\nlet currentIndex = 0;\n\nfor (const table of data.tables) {\n  const rows = table.content.split('\\n');\n\n  for (const row of rows) {\n    // Skip header rows\n    if (row.includes('物業地址') || row.includes('租客狀況') || row.includes('交吉情況')) {\n      continue;\n    }\n\n    // Look for numbered entries like \"1)\" or \"1.\" followed by address\n    const numberedMatch = row.match(/^(\\d+)[\\)\\.]\\s*(.+)/);\n    if (numberedMatch) {\n      currentIndex++;\n      const cols = row.split(' | ').map(c => c.trim());\n\n      // Extract property ID from the row or nearby text\n      const propertyId = extractPropertyId(row) || `LIST-${currentIndex}`;\n\n      // First column typically contains address\n      const addressPart = cols[0] || '';\n      const district = detectDistrict(addressPart);\n\n      // Look for area, rent in subsequent columns\n      let area = null;\n      let rent = null;\n      let vacancy = 'unknown';\n      let tenant = '';\n      let doorWidth = null;\n\n      for (const col of cols) {\n        if (col.match(/Vacant|已吉|現吉|商議|隨吉/i)) {\n          vacancy = col;\n        }\n        if (col.match(/\\d{1,2}\\.\\d/) && !area) {\n          // Likely door width (e.g., 12.0)\n          doorWidth = parseFloat(col);\n        }\n        if (col.match(/\\d{2,3},\\d{3}/) || col.match(/^\\d{4,6}$/)) {\n          // Likely rent (e.g., 50,000 or 50000)\n          const parsed = parseRent(col);\n          if (parsed && parsed > 10000 && parsed < 10000000) {\n            rent = parsed;\n          }\n        }\n        if (col.match(/\\d{3,4}\\s*G?$/i)) {\n          // Likely area (e.g., 1,800 G or 1800)\n          const parsed = parseArea(col);\n          if (parsed && parsed > 50 && parsed < 100000) {\n            area = parsed;\n          }\n        }\n        if (col.match(/\\(前\\)|餐|店|銀行|醫|茶|燒|粉|飯/)) {\n          tenant = col;\n        }\n      }\n\n      properties.push({\n        index: currentIndex,\n        propertyId,\n        address: addressPart.replace(/^\\d+[\\)\\.]\\s*/, '').trim(),\n        district,\n        tenant,\n        vacancy,\n        grossArea: area,\n        doorWidthFt: doorWidth,\n        askingRent: rent,\n        sourceFile: data.fileName,\n        sourcePage: table.pageNumber\n      });\n    }\n  }\n}\n\n// If no properties found via numbered parsing, try alternative parsing\nif (properties.length === 0) {\n  // Fallback: split by property ID pattern\n  const propIdMatches = data.text.matchAll(/樓盤編號[：:]*\\s*(\\d+)/g);\n  for (const match of propIdMatches) {\n    currentIndex++;\n    properties.push({\n      index: currentIndex,\n      propertyId: match[1],\n      address: '',\n      district: 'other',\n      tenant: '',\n      vacancy: '',\n      grossArea: null,\n      doorWidthFt: null,\n      askingRent: null,\n      sourceFile: data.fileName,\n      sourcePage: 1,\n      needsManualReview: true\n    });\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    listItems: properties,\n    listItemCount: properties.length,\n    parsingMethod: properties.length > 0 ? 'table' : 'fallback'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -300
      ],
      "id": "parse-list-table",
      "name": "Parse List Table"
    },
    {
      "parameters": {
        "jsCode": "// Split list items into individual items for processing\nconst data = $json;\nconst items = data.listItems || [];\n\nif (items.length === 0) {\n  throw new Error('No properties found in list document');\n}\n\n// Return each item as a separate output\nreturn items.map((item, idx) => ({\n  json: {\n    ...item,\n    _batchInfo: {\n      totalItems: items.length,\n      currentIndex: idx + 1,\n      sourceFile: data.fileName,\n      blobPath: data.blobPath,\n      fileType: data.fileType\n    },\n    _config: data._config\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -300
      ],
      "id": "split-list-items",
      "name": "Split Into Items"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3190,
        -300
      ],
      "id": "loop-list-items",
      "name": "Loop List Items"
    },
    {
      "parameters": {
        "jsCode": "// Map list item to Odoo property schema\nconst item = $json;\nconst config = item._config;\nconst batchInfo = item._batchInfo;\n\n// Valid districts for Odoo (must match Odoo selection field)\nconst validDistricts = [\n  'central', 'admiralty', 'wan_chai', 'causeway_bay', 'north_point',\n  'quarry_bay', 'taikoo', 'wong_chuk_hang', 'sheung_wan', 'sai_ying_pun',\n  'kennedy_town', 'happy_valley', 'tin_hau', 'fortress_hill', 'chai_wan',\n  'tsim_sha_tsui', 'jordan', 'mong_kok', 'prince_edward', 'yau_ma_tei',\n  'kowloon_city', 'kowloon_bay', 'kwun_tong', 'lam_tin', 'san_po_kong',\n  'cheung_sha_wan', 'sham_shui_po', 'whampoa', 'hung_hom', 'kai_tak', 'to_kwa_wan',\n  'kwai_chung', 'tsuen_wan', 'sha_tin', 'fo_tan', 'tuen_mun', 'yuen_long',\n  'po_lam', 'tai_po', 'fanling', 'sheung_shui', 'tseung_kwan_o',\n  'ma_on_shan', 'tin_shui_wai', 'tung_chung', 'other'\n];\n\nconst district = validDistricts.includes(item.district) ? item.district : 'other';\n\n// Generate name from address\nconst name = item.address ?\n  item.address.replace(/^(香港|九龍|新界)/, '').trim().slice(0, 100) :\n  `Property ${item.propertyId}`;\n\n// Build description\nlet descEn = '<div>';\nif (item.grossArea) descEn += `<p><strong>Area:</strong> ${item.grossArea} sq.ft.</p>`;\nif (item.doorWidthFt) descEn += `<p><strong>Frontage:</strong> ${item.doorWidthFt} ft.</p>`;\nif (item.askingRent) descEn += `<p><strong>Asking Rent:</strong> HK$${item.askingRent.toLocaleString()}/month</p>`;\nif (item.vacancy) descEn += `<p><strong>Status:</strong> ${item.vacancy}</p>`;\nif (item.tenant) descEn += `<p><strong>Previous/Current Tenant:</strong> ${item.tenant}</p>`;\ndescEn += `<hr/><p><small>Source: ${batchInfo.sourceFile} (Item ${batchInfo.currentIndex}/${batchInfo.totalItems})</small></p>`;\ndescEn += '</div>';\n\nlet descCn = '<div>';\nif (item.grossArea) descCn += `<p><strong>面積:</strong> ${item.grossArea} 平方尺</p>`;\nif (item.doorWidthFt) descCn += `<p><strong>門闊:</strong> ${item.doorWidthFt} 呎</p>`;\nif (item.askingRent) descCn += `<p><strong>租金:</strong> HK$${item.askingRent.toLocaleString()}/月</p>`;\nif (item.vacancy) descCn += `<p><strong>狀態:</strong> ${item.vacancy}</p>`;\nif (item.tenant) descCn += `<p><strong>租客:</strong> ${item.tenant}</p>`;\ndescCn += '</div>';\n\nreturn {\n  json: {\n    propertyData: {\n      name,\n      name_cn: item.address || name,\n      address: item.address,\n      district,\n      property_type: 'retail',\n      listing_type: 'leasing',\n      gross_area: item.grossArea,\n      asking_rent: item.askingRent,\n      description_en: descEn,\n      description_cn: descCn\n    },\n    originalItem: item,\n    _batchInfo: batchInfo,\n    _config: config,\n    refCode: item.propertyId ? `MB-${item.propertyId}` : null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3410,
        -300
      ],
      "id": "list-item-map-schema",
      "name": "List Item: Map to Schema"
    },
    {
      "parameters": {
        "jsCode": "// Create/Update Odoo listing for each list item\nconst data = $json;\nconst config = data._config;\nconst prop = data.propertyData || {};\nconst batchInfo = data._batchInfo;\nconst now = new Date();\n\nconst validDistricts = [\n  'central', 'admiralty', 'wan_chai', 'causeway_bay', 'north_point',\n  'quarry_bay', 'taikoo', 'wong_chuk_hang', 'sheung_wan', 'sai_ying_pun',\n  'kennedy_town', 'happy_valley', 'tin_hau', 'fortress_hill', 'chai_wan',\n  'tsim_sha_tsui', 'jordan', 'mong_kok', 'prince_edward', 'yau_ma_tei',\n  'kowloon_city', 'kowloon_bay', 'kwun_tong', 'lam_tin', 'san_po_kong',\n  'cheung_sha_wan', 'sham_shui_po', 'whampoa', 'hung_hom', 'kai_tak', 'to_kwa_wan',\n  'kwai_chung', 'tsuen_wan', 'sha_tin', 'fo_tan', 'tuen_mun', 'yuen_long',\n  'po_lam', 'tai_po', 'fanling', 'sheung_shui', 'tseung_kwan_o',\n  'ma_on_shan', 'tin_shui_wai', 'tung_chung', 'other'\n];\n\nconst district = validDistricts.includes(prop.district) ? prop.district : 'other';\n\nlet odooResult = { success: false };\nlet uid = null;\n\ntry {\n  // Authenticate with Odoo\n  const authResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: config.ODOO_URL + '/jsonrpc',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      jsonrpc: '2.0',\n      method: 'call',\n      params: { service: 'common', method: 'authenticate', args: [config.ODOO_DB, config.ODOO_USERNAME, config.ODOO_API_KEY, {}] },\n      id: 1\n    },\n    json: true\n  });\n  uid = authResponse.result;\n  if (!uid) throw new Error('Odoo auth failed');\n\n  // Search for existing listing by ref_code\n  let existingId = null;\n  if (data.refCode) {\n    const searchResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: {\n          service: 'object',\n          method: 'execute_kw',\n          args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.listing', 'search', [[[\"ref_code\", \"=\", data.refCode]]], { limit: 1 }]\n        },\n        id: 2\n      },\n      json: true\n    });\n    existingId = (searchResponse.result || [])[0] || null;\n  }\n\n  const listingData = {\n    name: prop.name || 'Property Listing',\n    listing_type: 'leasing',\n    district: district,\n    description: prop.description_en || '',\n    description_cn: prop.description_cn || ''\n  };\n\n  if (prop.name_cn) listingData.name_cn = prop.name_cn;\n  if (prop.address) listingData.address = prop.address;\n  if (prop.gross_area) listingData.gross_area = Number(prop.gross_area);\n  if (prop.asking_rent) listingData.asking_rent = Number(prop.asking_rent);\n\n  let listingId;\n\n  if (existingId) {\n    // Update existing\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.listing', 'write', [[existingId], listingData]] },\n        id: 3\n      },\n      json: true\n    });\n    listingId = existingId;\n    odooResult = { success: true, listingId, isUpdate: true, refCode: data.refCode };\n  } else {\n    // Create new\n    const refCode = data.refCode || `LIST-${now.getFullYear()}${String(now.getMonth() + 1).padStart(2, '0')}${String(now.getDate()).padStart(2, '0')}-${Date.now().toString(36).toUpperCase()}`;\n    listingData.ref_code = refCode;\n    listingData.approval_status = 'draft';\n    listingData.state = 'available';\n\n    const createResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: config.ODOO_URL + '/jsonrpc',\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        jsonrpc: '2.0',\n        method: 'call',\n        params: { service: 'object', method: 'execute_kw', args: [config.ODOO_DB, uid, config.ODOO_API_KEY, 'c21.property.listing', 'create', [listingData]] },\n        id: 4\n      },\n      json: true\n    });\n\n    if (createResponse.result) {\n      listingId = createResponse.result;\n      odooResult = { success: true, listingId, refCode, isUpdate: false };\n    }\n  }\n} catch (e) {\n  odooResult = { success: false, error: e.message };\n}\n\nreturn {\n  json: {\n    itemIndex: batchInfo.currentIndex,\n    totalItems: batchInfo.totalItems,\n    propertyData: prop,\n    odooResult,\n    sourceFile: batchInfo.sourceFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3850,
        -300
      ],
      "id": "list-item-odoo-upsert",
      "name": "List Item: Odoo Upsert"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all list items\nconst items = $input.all();\n\nconst results = items.map(i => i.json);\nconst successful = results.filter(r => r.odooResult?.success);\nconst failed = results.filter(r => !r.odooResult?.success);\nconst created = results.filter(r => r.odooResult?.success && !r.odooResult?.isUpdate);\nconst updated = results.filter(r => r.odooResult?.success && r.odooResult?.isUpdate);\n\nreturn {\n  json: {\n    status: 'completed',\n    classification: 'listing_list',\n    totalItems: results.length,\n    successful: successful.length,\n    failed: failed.length,\n    created: created.length,\n    updated: updated.length,\n    failedItems: failed.map(f => ({ index: f.itemIndex, error: f.odooResult?.error })),\n    sourceFile: results[0]?.sourceFile || 'unknown',\n    processedAt: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3190,
        -500
      ],
      "id": "aggregate-list-results",
      "name": "Aggregate List Results"
    },
    {
      "parameters": {
        "jsCode": "// Index list item to Azure Search (same as single listing)\nconst data = $json;\nconst config = data._config;\nconst prop = data.propertyData || {};\nconst batchInfo = data._batchInfo;\n\nconst validDistricts = [\n  'central', 'admiralty', 'wan_chai', 'causeway_bay', 'north_point',\n  'quarry_bay', 'taikoo', 'wong_chuk_hang', 'sheung_wan', 'sai_ying_pun',\n  'kennedy_town', 'happy_valley', 'tin_hau', 'fortress_hill', 'chai_wan',\n  'tsim_sha_tsui', 'jordan', 'mong_kok', 'prince_edward', 'yau_ma_tei',\n  'kowloon_city', 'kowloon_bay', 'kwun_tong', 'lam_tin', 'san_po_kong',\n  'cheung_sha_wan', 'sham_shui_po', 'whampoa', 'hung_hom', 'kai_tak', 'to_kwa_wan',\n  'kwai_chung', 'tsuen_wan', 'sha_tin', 'fo_tan', 'tuen_mun', 'yuen_long',\n  'po_lam', 'tai_po', 'fanling', 'sheung_shui', 'tseung_kwan_o',\n  'ma_on_shan', 'tin_shui_wai', 'tung_chung', 'other'\n];\n\nconst district = validDistricts.includes(prop.district) ? prop.district : 'other';\n\n// Build content for embedding\nconst content = [\n  prop.name || '',\n  prop.name_cn || '',\n  prop.address || '',\n  prop.district || '',\n  prop.gross_area ? `${prop.gross_area} sqft` : '',\n  prop.asking_rent ? `HK$${prop.asking_rent}/month` : ''\n].filter(Boolean).join(' | ');\n\n// Generate stable hash for document ID\nconst stableHash = (s) => {\n  let h = 5381;\n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h + s.charCodeAt(i)) >>> 0;\n  return h.toString(16).padStart(8, '0');\n};\n\nconst docId = `list_${stableHash(batchInfo.sourceFile)}_${batchInfo.currentIndex}`;\n\n// Get embedding from Azure OpenAI\nconst embedResult = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${config.AZURE_OPENAI_ENDPOINT}/openai/deployments/text-embedding-3-small/embeddings?api-version=2024-02-01`,\n  headers: { 'api-key': config.AZURE_OPENAI_KEY, 'Content-Type': 'application/json' },\n  body: { input: [content], dimensions: 1024 },\n  json: true\n});\n\nconst embedding = embedResult.data?.[0]?.embedding || [];\n\n// Build document for Azure Search\nconst doc = {\n  '@search.action': 'upload',\n  id: docId,\n  content: content,\n  fileName: batchInfo.sourceFile,\n  blobPath: batchInfo.blobPath || '',\n  chunkIndex: batchInfo.currentIndex - 1,\n  chunkType: 'list_item',\n  pageNumber: data.originalItem?.sourcePage || 1,\n  aiDocType: 'listing_list',\n  aiLanguage: 'mixed',\n  aiConfidence: 0.8,\n  aiKeyTopics: [prop.district, 'retail', 'leasing'].filter(Boolean),\n  embedding: embedding,\n  isImage: false,\n  imageUrl: '',\n  propertyName: prop.name || '',\n  propertyNameCn: prop.name_cn || '',\n  buildingName: '',\n  district: district,\n  floor: '',\n  unit: '',\n  propertyType: 'retail',\n  listingType: 'leasing',\n  grossArea: prop.gross_area ? Number(prop.gross_area) : null,\n  netArea: null,\n  askingRent: prop.asking_rent ? Number(prop.asking_rent) : null,\n  rentPerSqft: null,\n  availableFrom: ''\n};\n\n// Index to Azure Search\nconst indexResult = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${config.AZURE_SEARCH_ENDPOINT}/indexes/${config.AZURE_SEARCH_LISTING_INDEX}/docs/index?api-version=2023-11-01`,\n  headers: { 'api-key': config.AZURE_SEARCH_API_KEY, 'Content-Type': 'application/json' },\n  body: { value: [doc] },\n  json: true\n});\n\nreturn {\n  json: {\n    ...data,\n    indexResult: {\n      indexed: true,\n      docId: docId,\n      indexName: config.AZURE_SEARCH_LISTING_INDEX\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3630,
        -300
      ],
      "id": "list-item-index",
      "name": "List Item: Index to Azure Search"
    }
  ],
  "connections": {
    "OneDrive Trigger": {
      "main": [
        [
          {
            "node": "Config (API Keys)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config (API Keys)": {
      "main": [
        [
          {
            "node": "Filter Documents (PDF + Images)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Documents (PDF + Images)": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One by One": {
      "main": [
        [],
        [
          {
            "node": "Prepare Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload": {
      "main": [
        [
          {
            "node": "Upload to Azure Blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Azure Blob": {
      "main": [
        [
          {
            "node": "Submit OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit OCR": {
      "main": [
        [
          {
            "node": "Poll OCR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll OCR Result": {
      "main": [
        [
          {
            "node": "Extract Text & Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text & Structure": {
      "main": [
        [
          {
            "node": "AI Document Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Classifier": {
      "main": [
        [
          {
            "node": "Is Listing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Listing?": {
      "main": [
        [
          {
            "node": "Is Listing List?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is News?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is News?": {
      "main": [
        [
          {
            "node": "Prepare News Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Contact Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Listing Prompt": {
      "main": [
        [
          {
            "node": "AI Listing Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llama 3.3 (Listing)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Listing Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Listing Extractor": {
      "main": [
        [
          {
            "node": "Parse Listing JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Listing JSON": {
      "main": [
        [
          {
            "node": "Listing: Chunk, Embed & Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing: Chunk, Embed & Index": {
      "main": [
        [
          {
            "node": "Listing: Create/Update Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing: Create/Update Odoo": {
      "main": [
        [
          {
            "node": "Listing: Upload Images to Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listing: Upload Images to Odoo": {
      "main": [
        [
          {
            "node": "Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare News Prompt": {
      "main": [
        [
          {
            "node": "AI News Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llama 3.3 (News)": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI News Extractor": {
      "main": [
        [
          {
            "node": "Parse News JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse News JSON": {
      "main": [
        [
          {
            "node": "News: Chunk, Embed & Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News: Chunk, Embed & Index": {
      "main": [
        [
          {
            "node": "News: Create Odoo Social News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News: Create Odoo Social News": {
      "main": [
        [
          {
            "node": "News: Upload Images to Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News: Upload Images to Odoo": {
      "main": [
        [
          {
            "node": "Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Contact Prompt": {
      "main": [
        [
          {
            "node": "AI Contact Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llama 3.3 (Contact)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Contact Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Contact Extractor": {
      "main": [
        [
          {
            "node": "Parse Contact JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact JSON": {
      "main": [
        [
          {
            "node": "Contact: Create/Update Odoo Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact: Create/Update Odoo Partner": {
      "main": [
        [
          {
            "node": "Contact: Upload Image to Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact: Upload Image to Odoo": {
      "main": [
        [
          {
            "node": "Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processing Complete": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Listing List?": {
      "main": [
        [
          {
            "node": "Parse List Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Listing Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse List Table": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Loop List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop List Items": {
      "main": [
        [
          {
            "node": "Aggregate List Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Item: Map to Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Item: Map to Schema": {
      "main": [
        [
          {
            "node": "List Item: Index to Azure Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Item: Odoo Upsert": {
      "main": [
        [
          {
            "node": "Loop List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate List Results": {
      "main": [
        [
          {
            "node": "Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Item: Index to Azure Search": {
      "main": [
        [
          {
            "node": "List Item: Odoo Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "instanceId": "9e058b7018fc63d1a4f91d0af9b1514ff622445c8e185854eb48b31fca23132c"
  },
  "tags": [
    {
      "name": "PDF Processing"
    },
    {
      "name": "Image Processing"
    },
    {
      "name": "AI Classification"
    },
    {
      "name": "Vector Indexing"
    },
    {
      "name": "Odoo Integration"
    },
    {
      "name": "Contact Import"
    },
    {
      "name": "Bulk Listing Import"
    },
    {
      "name": "v1.2"
    }
  ]
}